<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="title_container">
        <h2 class="title_home">Make Your Interior More Minimalistic & Modern</h2>
    </div>
    <div class="text">
        <p>Turn your room with panto into a lot more minimalist and modern with ease and speed</p>
    </div>
    <div class="search">
        <input type="text" placeholder="Search furniture">
    </div>
    {{>chairs}}
</body>
</html>