<link rel="stylesheet" href="css/chairs.css">
<div class="chairs_container">
<h2>Best Selling Product</h2>
  <div class="tabs">
            <div class="tab active">Chair</div>
            <div class="tab">Beds</div>
            <div class="tab">Sofa</div>
            <div class="tab">Lamp</div>
        </div>
         <div class="products">
            <div class="product_card">
                <img src="/images/1_chair.png" alt="Sakarias Armchair">
                <div class="product_info">
                    <h3>Chair</h3>
                    <p>Sakarias Armchair</p>
                    <div class="rating">★★★★★</div>
                    <p class="price">$392</p>
                    <button class="add_to_cart">+</button>
                </div>
            </div>
            <div class="product_card">
                <img src="/images/2_chair.png" alt="Baltsar Chair">
                <div class="product_info">
                    <h3>Chair</h3>
                    <p>Baltsar Chair</p>
                    <div class="rating">★★★★★</div>
                    <p class="price">$299</p>
                    <button class="add_to_cart">+</button>
                </div>
            </div>
            <div class="product_card">
                <img src="/images/3_chair.png" alt="Anjay Chair">
                <div class="product_info">
                    <h3>Chair</h3>
                    <p>Anjay Chair</p>
                    <div class="rating">★★★★★</div>
                    <p class="price">$519</p>
                    <button class="add_to_cart">+</button>
                </div>
            </div>
            <div class="product_card">
                <img src="/images/sakarias-armchair-black-sporda-dark-gray__0729767_pe737131_s5_adobespark.png" alt="Nyantuy Chair">
                <div class="product_info">
                    <h3>Chair</h3>
                    <p>Nyantuy Chair</p>
                    <div class="rating">★★★★★</div>
                    <p class="price">$921</p>
                    <button class="add_to_cart">+</button>
                </div>
            </div>
        </div>
</div>