<link rel="stylesheet" href="/css/footer.css">
<div class="footer">
<div class="text_about">
<h2>Panto</h2>
<p>The advantage of hiring a workspace with us is that givees you comfortable service and all-around facilities.</p>
</div>
<div class="right_container">
<div class="services">
    <p id="service">Services</p>
    <p>Email Marketing</p>
    <p>Campaigns</p>
    <p>Branding</p>
</div>
<div class="furniture">
    <p id="f_1">Furniture</p>
    <p>Beds</p>
    <p>Chair</p>
    <p>All</p>
</div>
<div class="social">
    <p id="follow">Follow Us</p>
    <p>Facebook</p>
    <p>Twitter</p>
    <p>Instagram</p>
</div>
</div>

</div>