<link rel="stylesheet" href="/css/heder.css">

<div class="header">
    <h2 class="title">Panto</h2>
    <ul class="menu">
        <li>Furniture</li>
        <li>Shop</li>
        <li>About Us</li>
        <li>Contact</li>
    </ul>
    <img src="/images/Bag.png" alt="Bag">
</div>
