<link rel="stylesheet" href="/css/heder.css">

<div class="header">
    <h2 class="title">Panto</h2>
    <ul class="menu">
        <a href="/home" class="link">
         <li>Furniture</li>
        </a>
        <li>Shop</li>
        <li>About Us</li>
        <a href="/form" class="link">
         <li>Register</li>
        </a>
    </ul>
    <img src="/images/Bag.png" alt="Bag">
</div>
