.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}

.title{
    color: #FFFFFF;
    margin-left: 20px;
}

.menu{
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
    color: #FFFFFF;
}