<ul>
    <li>
        <h2>Rynok Square, Tower</h2>
        <img src="img_2.png" alt="">
    </li>
    <li>
        <h2>Lviv Opera House</h2>
        <img src="https://lviv.travel/image/blocks/3c/ca/3cca98f481bd802d281845f350aa7185cb7ebaa8_1719322466.jpeg?w=600&crop=11486%2C5743%2C-5743%2C-1914" alt="">
    </li>
    <li>
        <h2>Virmenska street</h2>
        <img src="https://lviv.travel/image/blocks/7d/f2/7df232e3ed2671cfd1abf6d57c18a6aae7446c9f_1719323131.jpeg?w=600&crop=12480%2C6240%2C-6240%2C-2080" alt="">
    </li>
    <li>
        <h2>The Potocki Palace</h2>
        <img src="https://lviv.travel/image/blocks/d8/cf/d8cf11ec94b265c737b754546170fb22c5c98478_1719323370.jpeg?w=600&crop=3600%2C1504%2C-1800%2C-501" alt="">
    </li>
</ul>