<form action="" method="post">
    <input type="text" name="changeLogin" placeholder="enter new login">
    <input type="text" name="changeEmail" placeholder="enter new email">
    <input type="number" name="changeID" placeholder="enter id of user">
    <button type="submit">
        Confirm changes
    </button>
</form>